script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js")
.wrapper
    
    header.header
       .Background
          canvas(class="Background-canvas")
       ul.socials
            each item in ['vk', 'github', 'in']
                li.socials__item
                    a( href="#" class=`socials__link socials__link_${item}`)
                      svg(class=`socials__svg`)
                        use(xlink:href=`assets/img/icons/sprite.svg#${item}`)
       include ../common/parts/hamburger 
       a(href="#").down-arrow 
            img(src="./assets/img/icons/arrow_down.svg", alt="arrow_down").down-arrow__icon
       .hero__title
            img(src="./assets/img/icons/portfolio_header.svg", alt="portfolio_header").section-title
       .user.hero__user-block
            .user__photo
                .user__photo-avatar
                    img(src="./assets/img/content/user-avatar.jpg", alt="user-avatar").user__avatar-img
            .user__name Владимир Астахов
            .user__desc Личный сайт веб-разработчика
    
      
    .triangles
      .triangles__left
        svg(
          viewbox="0 0 1000 100" 
          preserveAspectRatio="none"
          class="triangle triangle_fill_green about__triangles")
          polygon(points="0,0 0,100 1000,100 1000,95")
      .triangles__right
        svg(
          viewbox="0 0 1000 100" 
          preserveAspectRatio="none"
          class="triangle triangle_fill_white about__triangles")
          polygon(points="0,100 1000,100 1000,0 0,95")

    section.section.about
          .about__left
            
            .user-about
              .title(style="background-image: url('./assets/img/decor/about_header.png')").about__section-title
                | Обо мне
              .user-about__right
                .user-about__picture
                    img(src="./assets/img/content/user-photo.jpg", alt="user-photo").user__photo-img
                .user-about__title
                  .subtitle
                    | Кто я
                .user-about__text
                  p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
         
          
          .about__right
      
            .about-data
              .about-data__description.about-user-info
                .about-user-info__title
                  .subtitle Чем я могу быть вам полезен
                .about-user-info__text.user-about__text
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam officia incidunt, quisquam sit harum totam, perspiciatis nesciunt, culpa at, laborum nobis error. In doloremque iusto rem, alias incidunt, expedita quos.
              .about-data__content
                ul.skills
                  each skill in skills
                    each skillsArray, skillName in skill
                      li.skills__item
                        .skill-section
                          .skill-section__title= skillName
                          ul.skill-section__list
                            each skillTitle in skillsArray
                              li.skills-section__item
                                .skill
                                  svg(
                                    class="circles"
                                    viewBox='0 0 110 110')
                                    circle(r="45" cx="50%" cy="50%" fill="none" class="circle__first")
                                    circle(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class="circle__second")
                                  .skill__name= skillTitle
        
    section.section.maps
      #map
      .callback.contacts
        .user-about__title.contacts__title
          .subtitle
            | Контакты
        ul.contacts__items
            each item,key in { 'skype_kdn' : 'skype', 'astahov@gmail.com' : 'envelope2', '+7 931 200 93 24' : 'phone', 'Новосибирск, ул. Инская, д.14' : 'map_marker'}
                li.contacts__item
                    a( href="#" class=`contacts__link contacts__link_${item}`)=key
                      svg(class=`contacts__svg`)
                        use(xlink:href=`assets/img/icons/sprite__contacts.svg#${item}`)
    include ../common/parts/footer 

script(src="/assets/js/water.js")
script(src="/assets/js/google-map.js")