.wrapper
    
    header.header
       .Background
          canvas(class="Background-canvas")
       ul.socials
            each item in ['vk', 'github', 'in']
                li.socials__item
                    a( href="#" class=`socials__link socials__link_${item}`)
                      svg(class=`socials__svg`)
                        use(xlink:href=`assets/img/icons/sprite.svg#${item}`)
       include ../common/parts/hamburger 
       .user.hero__user-block
            .user__photo.user__photo_blog
                .user__photo-avatar
                    img(src="./assets/img/content/user-avatar.jpg", alt="user-avatar").user__avatar-img
            .title(style="background-image: url('./assets/img/decor/blog_header.png')").about__section-title.blog__title
                | Блог
            .user__desc Статьи, которые я написал
    section.section.blog
      .blog__triangle-left
        svg(
          viewbox="0 0 1000 100" 
          preserveAspectRatio="none"
          class="triangle triangle_fill_white about__triangles")
          polygon(points="0,0 0,100 1000,100 1000,95")
      .blog__triangle-right
        svg(
          viewbox="0 0 1000 100" 
          preserveAspectRatio="none"
          class="triangle triangle_fill_white about__triangles")
          polygon(points="0,100 1000,100 1000,0 0,95")
      .blog__content
        .left__articles-title
          ul.articles-title__items
            li.articles-title__item.articles-title__item_active
              a(href="#").articles-title.articles-title_active
                | Самое важное в SASS
            li.articles-title__item
              a(href="#").articles-title
                | Приёмы в вёрстке, без которых не обходится ни один сайт
            li.articles-title__item
              a(href="#").articles-title
                | Самое важное в SASS
            li.articles-title__item
              a(href="#").articles-title
                | Приёмы в вёрстке, без которых не обходится ни один сайт
        .right__articles
          ul.articles__items
            li.articles__item
              .skill-section__title.articles__title
                | Самое важное в SASS
              .articles__date
                | 22 ноября 2016
              .user-about__text.articles__text
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              .articles__img
                img(src='./assets/img/content/article-css.jpg' alt="article-css")
            li.articles__item
              .skill-section__title.articles__title
                | Самое важное в SASS
              .articles__date
                | 22 ноября 2016
              .user-about__text.articles__text
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              .articles__img
                img(src='./assets/img/content/article-css.jpg' alt="article-css")
            li.articles__item
              .skill-section__title.articles__title
                | Самое важное в SASS
              .articles__date
                | 22 ноября 2016
              .user-about__text.articles__text
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              .articles__img
                img(src='./assets/img/content/article-css.jpg' alt="article-css")
            li.articles__item
              .skill-section__title.articles__title
                | Самое важное в SASS
              .articles__date
                | 22 ноября 2016
              .user-about__text.articles__text
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              .articles__img
                img(src='./assets/img/content/article-css.jpg' alt="article-css")
    include ../common/parts/footer

script(src="/assets/js/water%=suffix=%.js%=version=%")