.wrapper
    header.header
       .hero__bg
            img(src="./assets/img/bg/header-bg.jpg", alt="").hero__bg-img
       ul.socials
            each item in ['vk', 'github', 'in']
                li.socials__item
                    a( href="#" class=`socials__link socials__link_${item}`)
                      svg(class=`socials__svg`)
                        use(xlink:href=`assets/img/icons/sprite.svg#${item}`)
       a(href="#").hamburger
       a(href="#").down-arrow 
            img(src="./assets/img/icons/arrow_down.svg", alt="").down-arrow__icon
       .hero__title
            img(src="./assets/img/icons/portfolio_header.svg", alt="").section-title
       .user.hero__user-block
            .user__photo
                .user__photo-avatar
                    img(src="./assets/img/content/user-avatar.jpg", alt="").user__avatar-img
            .user__name Владимир Астахов
            .user__desc Личный сайт веб-разработчика
    section.section.works
        .blog__triangle-left
            svg(
                viewbox="0 0 1000 100" 
                preserveAspectRatio="none"
                class="triangle triangle_fill_white about__triangles")
                polygon(points="0,0 0,100 1000,100 1000,95")
        .blog__triangle-right
            svg(
                viewbox="0 0 1000 100" 
                preserveAspectRatio="none"
                class="triangle triangle_fill_white about__triangles")
                polygon(points="0,100 1000,100 1000,0 0,95")
        .user-about.user-works
              .title(style="background-image: url('./assets/img/decor/works_header.png')").about__section-title
                | Мои работы
        .works-galery
            .works-galery__left
                .content
                    .user-about.works-galery__left-content
                        .user-about__title
                            .subtitle
                                | Сайт школы самообразования
                            .works-tecnology
                                | HTML , CSS, JAVASCRIPT
                            a(href="#").works__link
                                img(src="./assets/img/icons/link.svg").works__link-pic
                                | Посмотреть сайт
            .works-galery__right
    section.section.reviews
        a( href="#" class='arrow-up__link')
            svg(class='arrow-up')
                use(xlink:href='assets/img/icons/portf_arrow_up.svg')
        .user-about.reviews__title
            .title(style="background-image: url('./assets/img/decor/about_header.png')").about__section-title.reviews-title
                | Что обо мне говорят
        .reviews-block
            ul.reviews-block__items
                li.reviews-block__item
                    .reviews-block__avatar
                        img(src="./assets/img/content/reviewer-ava.jpg").reviews-block__avatar-img
                    .reviews-block__avatar-text
                        | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews-block__avatar-name
                        span Ковальчук Дмитрий
                        p — основатель Loftschool
                li.reviews-block__item
                    .reviews-block__avatar
                        img(src="./assets/img/content/reviewer-ava.jpg").reviews-block__avatar-img
                    .reviews-block__avatar-text
                        | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews-block__avatar-name
                        span Ковальчук Дмитрий
                        p — основатель Loftschool
        .callback
            .user-about.callback__title
                .user-about__title
                    .subtitle
                        | Связаться со мной
            form(name="form").callback__form#callback__form
                .form__line
                    input(type="text" name="name" placeholder="Имя").form__input
                .form__line
                    input(type="text" name="email" placeholder="Email").form__input
                .form__line
                    textarea(class="form__comment" name="comment" placeholder="Ваше сообщение")
                .form__line
                    input(class="button" type="submit" value="Отправить")
                    input(class="form__button" type="reset" value="Очистить")
    include ../common/parts/footer